@import "tailwindcss";

/* Font Face Declarations */
@font-face {
  font-family: 'Integral CF';
  src: url('/font/IntegralCF-Bold.woff') format('woff');
  /* font-weight: 900; */
  /* font-style: bold; */
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    scroll-behavior: smooth;
    color-scheme: light;
    --productCard: 20rem; 
  }

  .black {
    color-scheme: black;
  }
  
  body {
    font-family: 'Satoshi', sans-serif;
  }
}



@layer components {
   .container {
    @apply mx-auto px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-24;
  }
  .productCard {
    @apply flex select-none flex-col gap-3 pb-3;
  }

  .productImgWrapper {
    @apply flex aspect-square h-[var(--productCard)] items-center justify-center overflow-hidden rounded-[1.25rem] bg-[#F0F0F0];
  }

  .vitrineProductsSkeleton {
    @apply flex gap-3 max-md:[&>*:nth-child(1)]:hidden max-xl:[&>*:nth-child(2)]:hidden max-2xl:[&>*:nth-child(3)]:hidden;
  }

  .hide {
    @apply pointer-events-none opacity-0 duration-100;
  }

  .show {
    @apply pointer-events-auto opacity-100;
  }
}

.font-integralCF {
   font-family: 'Integral CF', sans-serif;
}

/* For Customers Comment section (These remain as-is, outside of any layer) */
.mask-to-l {
  mask-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.mask-to-r {
  mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

/* For search inputs (These remain as-is, outside of any layer) */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.marker-class{
   border:1px solid red;
}

/*  */
